<!doctype html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Peter Pan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap-css-only/css/bootstrap.min.css') }}">
    <!-- scripts -->
  </head>
  <body >
    <div class="page">
      <div class="header" >
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid" style="margin-top: 2%">
            <!--<p>Peter Pan</p>-->
            <p>Últimas notícias</p>
          </div>
        </div>
      </div>


      <div class="page-background">
        <div class="container-fluid">
          <p style="padding-top:15%"></p>
        </div>
      {% if user_info.message %}
      <div class="page-background">
        <div class="container" style="background-color: rgb(196, 23, 12); color: white; font-size: 16spx; text-align: center;">
          <p>Bem Vindo</p>
        </div>
      </div>
      {%endif %}
        <div class="content">
          {% block body %}{% endblock %}
        </div>
        <div class="container-fluid">
          <p style="padding-bottom:8%"></p>
        </div>
      </div>
      <div class="footer" >
       <footer>
          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <!-- <div class="container" style="width: 100%"> -->
              <div class="navbar-header" style="width: 100%">

              <img src="globo.jpg">

              <!-- Desenvolvido por: Dayanne Fernandes, Gabriel Naves, Ícaro Mota e Jéssica Souza-->
              </div>
            <!-- </div> -->
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
