{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
	<ul>
		{% for d in content %}
			<div class="container container-fluid">
        <div class="col-xs-12 news-title">
          <a href={{d[1]}}>{{d[0]}}</a>
        </div>
        <div class="col-xs-8 news-source">
          <p>{{d[2]}}</p>
        </div>
        <div class="col-xs-4 news-date">
          <p>{{d[3]}}</p>
        </div>
        {% if d[4] %}
        <div class="col-xs-4" style=" color: rgb(196, 23, 12);" >
            <img class="news-img" src="{{d[4]}}"/>
        </div>
        <div class="col-xs-8 news-desc">
          <p>{{d[5]}}</p>
        </div>
        {% else %}
        <div class="col-xs-12 news-desc">
          <p>{{d[5]}}</p>
        </div>
        {% endif %}
      </div>
		{% endfor %}
	</ul>
  </div>
{% endblock %}
