{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
	<ul>
		{% for d in content %}
			<div class="container container-fluid">
        <div class="col-xs-12 news-title" style="font-weight: bold;">
          <a href={{d[1]}}>{{d[0]}}</a>
        </div>
        <div class="col-xs-4" style="font-size: 12px; color: rgb(209, 209, 209); font-weight: bold;">
          <p>origem</p>
        </div>
        <div class="col-xs-8" style="font-size: 12px; color: rgb(209, 209, 209);font-weight: bold;">
          <p>data</p>
        </div>
        <div class="col-xs-4" style="max-width: 10%;max-height: 10% color: rgb(196, 23, 12);" >
            <p style="height: 10%;width: 10%; background-color:rgb(196, 23, 12); "> </p>
        </div>
        <div class="col-xs-8" style="font-size: 13px; color: black; text-align: justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac rhoncus justo. Proin non arcu hendrerit, finibus ex nec, consectetur magna.</p>
        </div>
      </div>
		{% endfor %}
	</ul>
  </div>
{% endblock %}
