/* line 1, ../sass/_global.scss */
.navbar {
  background-color: #c4170c !important;
  color: white;
  font-family: Arial;
  text-align: center;
}

/* line 8, ../sass/_global.scss */
.navbar-fixed-top {
  font-size: 18px;
  line-height: 82%;
  padding-top: 3%;
  border-bottom-color: black;
  font-weight: bold;
}

/* line 16, ../sass/_global.scss */
.navbar-fixed-bottom {
  font-size: 11px;
  padding-top: 0.5%;
  width: 100%;
}

/* line 22, ../sass/_global.scss */
.container {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 3%;
}

/* line 31, ../sass/_global.scss */
ul {
  padding-left: 0;
  list-style-type: none;
}

/* line 36, ../sass/_global.scss */
.page-background {
  background-color: #d1d1d1;
}

/* line 40, ../sass/_global.scss */
.news-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 8px;
  font-weight: bold;
}

/* line 47, ../sass/_global.scss */
.news-source {
  font-size: 11px;
  color: #d1d1d1;
  font-weight: bold;
}

/* line 53, ../sass/_global.scss */
.news-date {
  font-size: 11px;
  color: #d1d1d1;
  font-weight: bold;
}

/* line 59, ../sass/_global.scss */
.news-img {
  background-color: #c4170c;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

/* line 66, ../sass/_global.scss */
.news-desc {
  font-size: 11px;
  color: black;
  text-align: justify;
  margin-bottom: 10px;
}

/* line 73, ../sass/_global.scss */
.footer-logo {
  width: 40px;
  height: 26px;
}
