/* line 12, ../sass/_global.scss */
.navbar {
  background-color: #c4170c !important;
  color: white;
  font-family: Arial;
  text-align: center;
}

/* line 18, ../sass/_global.scss */
.navbar-fixed-top {
  font-size: 16px;
  line-height: 14px;
  padding-top: 1%;
  border-bottom-color: black;
}

/* line 24, ../sass/_global.scss */
.navbar-fixed-bottom {
  font-size: 11px;
  padding-top: 0.5%;
  width: 100%;
}
