.navbar {
    background-color: #c4170c;
    color: white;
    font-family: Arial;
    text-align: center;
}
.navbar-fixed-top {
    font-size: 18px;
    line-height: 82%;
    padding-top: 1%;
    border-bottom-color: black;
    font-weight: bold;
}
.navbar-fixed-bottom {
    font-size: 11px;
    padding-top: 0.5%;
    width: 100%;
}
.jumbotron {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
}
ul {
    padding-left: 0;
    list-style-type: none;
}
