.navbar {
  background-color: rgb(196, 23, 12) !important;
  color: white;
  font-family: Arial;
  text-align: center;
}
.navbar-fixed-top {
  font-size: 16px;
  line-height: 14px;
  padding-top: 1%;
  border-bottom-color: black;
}
.navbar-fixed-bottom {
  font-size: 11px;
  padding-top: 0.5%;
  width: 100%;
}
.jumbotron {
  border-radius: 15px;
  width:97%;
}
