.navbar {
  background-color: rgb(196, 23, 12) !important;
  color: white;
  font-family: Arial;
  text-align: center;
}
.navbar-fixed-top {
  font-size: 18px;
  line-height: 82%;
  padding-top: 1%;
  border-bottom-color: black;
  font-weight: bold;
}
.navbar-fixed-bottom {
  font-size: 11px;
  padding-top: 0.5%;
  width: 100%;
}
.container {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 3%;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.page-background {
  background-color: rgb(209, 209, 209);
}
.news-title {
  margin-bottom:5px;
}

.news-origin {

}

.news-date {

}

.news-desc {

}
